html, body {
	margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-size: 1.1rem;
}

body {
  width: 38rem;
  margin: auto;
  margin-bottom: 120px;
}

p, ul, ol, li {
  font-size: 1rem;
}

img, video {
  width: 100%;
  height: auto;
}

a.silent-link {
  color: inherit;
	text-decoration: none;
}

a.silent-link:hover {
	text-decoration: underline;
}
