.project-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

.project-img {
  flex: 1.5;
  width: 20px;
}

.project-div {
  background: rgb(239, 239, 239);
  border-radius: 10px;
  padding: 1rem 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-div:hover {
  cursor: pointer;
  background:rgb(235, 235, 235)
}

.project-content {
  display: flex;
}

.project-desc {
  margin-left: 2rem;
  flex: 2;
}